*{
    margin: 0px;
    padding: 0px;
    font-family: 'Sen', sans-serif;
    margin-right: 0px;
}

body{
    width: 100%;
    height: 100%;
}

li{
    text-decoration: none;
    list-style: none;
}

#arriba{
    background:radial-gradient(88.5% 100% at 50% 100%, #264582 0%, #0A0A2E 100%);
    background-repeat: no-repeat;
    background-size: auto 350px;
    height: 350px;
}

.titulo{
    display: flex;
    color: #f9f9f9;
    justify-content: center;
    font-size: 43px;
    text-shadow: -5px 5px 30px black;
    margin-top: 30px;
    margin-bottom: 40px;
}

.logo{
    padding: 30px 0px 0px 50px;
    background-repeat: no-repeat;
    width: auto;
    height: auto;
}

.inputA{
    height: 50px;
    width: 810px ;
    padding: 20px;
    padding-left: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: -5px 5px 30px rgb(30, 30, 30);
}

.inputA:focus{
    outline: none;
}

#divinput{
    position: relative;
}

.btn{
    position: absolute;
    top: 6px;
    font-size: 19px;
    color: gray;
}

.alista{
    padding: 100px;
    color: darkblue;
}

/* CENTRO */

.border{
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
 }

 .alista:hover{
    background-color: #e1e0e0;
    transition: all 100ms;
    color: rgb(21, 27, 221);
 }

 #centroabajo{
    display: flex;
    justify-content: center;
 }

 #zonart{
    background-color: rgb(246, 247, 248);
 }

 .alista{
    background-color: white;
 }

#centroabajo ul{
   padding-left: 0px;
}

#contenedor-4{
    padding-right: 30px ;
}

#contenedor-41{
    padding-left: 30px;
}

/* CENTRO */


#zonabj{
    background-color: rgb(246, 247, 248);
    position: relative;
}

#zonabj h5{
    color: rgb(95, 95, 95);
}

.botona{
    position: relative;
    font-size: larger;
}

.botona i{
    font-size: 100px;
}

#shadowbox{
    box-shadow: rgb(44, 44, 44)  10px 10px 30px;
}

#footercontacto a{
    color: rgb(220, 218, 218);
    font-size: smaller;
    text-decoration: none;
}



iframe{
    border-radius: 10px;
    width: 760px;
}

#enviarconsultas{
    top: 200px;
    left: 360px;
}

#message-text{
    height: 40px;
}

/* ABAJO */



/* MEDIAQUERI */

@media(max-width:991px){
    iframe{
        width: 470px;
    }
}

@media(max-width:850px){
    .inputA{
        width: 500px;
    }
    
}

@media(max-width:524px){
    .inputA{
        width: 309px;
        font-size: small;
    }

    .titulo{
        font-size: xx-large;
    }

    *{
        font-size: small;
    }
}

@media(max-width:510px) {
    iframe{
        width: 400px;
    }
}

@media(max-width:430px) {
    iframe{
        width: 350px;
    }
}

@media(max-width:380px) {
    iframe{
        width: max-content;
    }
}

@media(max-width:330px) {
    iframe{
        width: 250px;
    }
}

@media(max-width:400px){
    .inputA{
        font-size: smaller;
    }

    .inputA{
        width: 250px;
        height: 10px;
        padding: 20px;
        padding-left: 30px;
        margin: 0px;
        font-size: 9px;
    }
}

.ake{
    font-size: 14px;
    color: rgb(220, 218, 218);
}

@media (max-width:700px){
    #contenedor-4{
        padding-right: 0px ;
    }
    
    #contenedor-41{
        padding-left: 0px;
    }
}