@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #000;
    opacity: 0.5;
}

.navbar {
    background: rgba(0, 0, 0, .2);
    height: 72px;

}

.Logo {
    width: 100px;
    height: 50px;
    margin: auto;
}

body {
    font-family: 'Sen', sans-serif;
    background-image: url(../img/logo/error404.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.cuerpoerror404 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

h1 {
    color: white;
}

p {
    color: white;
}